---
- include_vars: "{{ item }}"
  with_first_found:
    - "../vars/{{ ansible_distribution }}-{{ ansible_distribution_major_version | int}}.yml"
    - "../vars/{{ ansible_distribution }}.yml"
    - "../vars/{{ ansible_os_family }}.yml"
    - "../vars/default.yml"

- include: bootstrap_rhel.yml
  when: ansible_os_family == "RedHat"
- include: easy_rsa.yml
- include: openvpn.yml
